/*
//medias queries
@media (max-width: $smartphone+20) {
    font-size: 22px;
    color: black;
}

@media (min-width: $tablets+10) {
    font-size: 22px; 
    color:yellow;
}
@media (max-width:$desktop+5) {
    font-size: 20px;
    color: green
 
}*/
.cont {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*
//medias queries
@media (max-width: $smartphone+20) {
    font-size: 22px;
    color: black;
}

@media (min-width: $tablets+10) {
    font-size: 22px; 
    color:yellow;
}
@media (max-width:$desktop+5) {
    font-size: 20px;
    color: green
 
}*/
.galeria {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*
//medias queries
@media (max-width: $smartphone+20) {
    font-size: 22px;
    color: black;
}

@media (min-width: $tablets+10) {
    font-size: 22px; 
    color:yellow;
}
@media (max-width:$desktop+5) {
    font-size: 20px;
    color: green
 
}*/
.prod {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .prod p {
    font-size: 1.2rem; }
  .prod .card {
    color: #373737; }

/*
//medias queries
@media (max-width: $smartphone+20) {
    font-size: 22px;
    color: black;
}

@media (min-width: $tablets+10) {
    font-size: 22px; 
    color:yellow;
}
@media (max-width:$desktop+5) {
    font-size: 20px;
    color: green
 
}*/
.nos {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background-color: #373737;
  padding: 0;
  margin: 0; }

header {
  background-color: #A9A9A9; }
  header h1 {
    background-color: #438496;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
    header h1 a {
      text-decoration: none;
      color: #e9e3e3; }
    header h1 .cora {
      height: 80px;
      width: auto; }
  header .indexTitulo {
    font-size: 2rem;
    text-align: center;
    font-style: italic; }
  header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem; }
    header nav ul li {
      align-items: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
      header nav ul li:hover {
        background-color: aliceblue;
        border-radius: 1rem; }
    header nav ul a {
      display: flex;
      text-decoration: none;
      color: #e9e3e3;
      font-size: 1.3rem; }

main {
  display: flex;
  margin: 0;
  padding: 0;
  width: auto;
  flex-direction: row-reverse;
  align-items: center;
  color: #e9e3e3; }
  main .principio {
    display: grid;
    grid-template-areas: "descripcion" "cierre" "img" "video";
    justify-content: center; }
  main .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 500px; }
    main .img .vide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto; }

footer div div a {
  color: #286DA8;
  padding: 1px; }

footer p {
  font-size: 1.3rem; }

footer p {
  text-align: center;
  background-color: #438496; }

footer .redes {
  display: flex;
  justify-content: center;
  font-size: 30px; }
