nav ul {
  text-align: center;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  nav ul li {
    display: inline-block;
    padding: 5px 30px; }
