@import "utilities/variables";

body{
    background-color: $color-principal;
    padding: 0;
    margin: 0;
}

  header{
      background-color: $color-cuarto;
      h1{
          background-color:$color-secundario ;
          text-align: center;
          flex-direction: column;
          align-items: center;
          padding: 10px;
         a{
            text-decoration: none;
            color: $color-quinto; 
          }
          .cora{
              height: 80px;
              width: auto;
          }
      }
      .indexTitulo {
          font-size: 2rem;
        text-align: center;
        font-style: italic; 
        }
     nav{ 
        ul{
         display: flex;
         list-style: none;
         justify-content: space-around;
         margin: 1rem;
         padding: 1rem;
          li{
            align-items: center;
            
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                   
                }
                a{
                    display: flex;
                    text-decoration: none;
                    color: $color-quinto;
                    font-size: 1.3rem;
                }
            }
        } 
    }
   main{
    display: flex;
    margin: 0;
    padding: 0;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
    .principio{
        display: grid;
        grid-template-areas: "descripcion"
                              "cierre"
                              "img"
                              "video";
        justify-content: center;   
    }      

 }
 