@import "utilities/variables";
@import "layout/contacto";
@import "layout/galeria";
@import "layout/productos";
@import "layout/sobrenosotros";




body{
    background-color: $color-principal;
    padding: 0;
    margin: 0;
}

  header{
      background-color: $color-cuarto;
      h1{
          background-color:$color-secundario ;
          text-align: center;
          flex-direction: column;
          align-items: center;
          padding: 10px;
         a{
            text-decoration: none;
            color: $color-quinto; 
          }
          .cora{
              height: 80px;
              width: auto;
          }
      }
      .indexTitulo {
          font-size: 2rem;
        text-align: center;
        font-style: italic; 
        }
     nav{ 
        ul{
         display: flex;
         list-style: none;
         justify-content: space-around;
         margin: 1rem;
         padding: 1rem;
         li{
            align-items: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            &:hover {
                background-color: aliceblue;
                border-radius: 1rem;
               }
            }
                
                a{
                    display: flex;
                    text-decoration: none;
                    color: $color-quinto;
                    font-size: 1.3rem;
                    
                }
            }  
        }
    } 
    
   
    main{
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
    flex-direction: row-reverse;
    align-items: center;
    color: $color-quinto;
       .principio{
          display: grid;
          grid-template-areas: "descripcion"
                              "cierre"
                              "img"
                              "video";
          justify-content: center;  
        
        } 
            .img{
              @include flex-dos;
              width: 500px;
              .vide{
                @include flex-dos;
                
               }
             }  
            
             
    }
    footer{
         div{
             div{
                 a{
                     color:$color-sexto;
                     padding: 1px;
                 }
             }
         }
         p{
            font-size: 1.3rem;
        }
        p{
            text-align: center;
            background-color: $color-secundario;
      }
            .redes{
             display: flex;
             justify-content: center;
             font-size: 30px;}
            
    } 
   