/*comentarios de css*/
@import "utilities/variables";


    //header
    header{
          h1{
              background-color: $color-secundario;
              a{
                text-decoration: none;
                color: white;
                .indexTitulo{
                    color: aliceblue;
                    text-align: center;
                    font-family: $tipografia-uno;
                            }
                }
            }
            ul{
                text-align: center;
                list-style: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                li{
                    display: flex;
                    
                    padding: 5px 30px;
                    .menuindex{
                        text-decoration: none;
                    }
                }
            }
        }
    

