$colo-principal:#E878EB;
$color-secundario:#E357E7;
$color-tercero:white;
$color-cuarto:aliceblue;
$tipografia-uno: 'Roboto', sans-serif;
$tipografia-dos:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;