@import "variables";

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-dos{
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
}

@mixin flex-tre{
    margin: auto;
    padding: 30px;
    flex-direction: row-reverse;
    align-items: center;
    color: $color-quinto;
}

//responsitive
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1360px;

@mixin media($media) {
    @if $media == xs {
       @media (max-width: $breakpoint-sm) { @content; }
    }
    @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
    }
    @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content;}
    }
    @else if $media == lg{
        @media (min-width: $breakpoint-lg) { @content;}
    }
}

//mixin con grid
@mixin grid( $columnas , $espacios ) {
    display                  :grid;
    grid-template-columns: repeat( $columnas, 1fr );
    gap: $espacios;
     @media screen  and (max-width: $breakpoint-xs) {
        grid-template-columns: 1fr;
        gap: 0 em;
    }
} 

@mixin grid-dos( $columnas , $espacios ) {
    display                  :grid;
    grid-template-columns: repeat( $columnas, 1fr );
    gap: $espacios;
     @media screen  and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 0 em;
    }
} 

@mixin grid-tres( $columnas , $espacios ) {
    display                  :grid;
    grid-template-columns: repeat( $columnas, 1fr );
    gap: $espacios;
     @media screen  and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 0 em;
    }
} 