$color-principal:#373737;
$color-secundario:#438496;
$color-tercero: white;
$color-cuarto:#A9A9A9;
$color-quinto: rgb(233, 227, 227);
$color-sexto:#286DA8;
$tipogrfia-uno: 'Roboto', sans-serif;
$tipografia-dos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$smartphone:480px;
$tablets:728px;
$desktop:1024;
//#E878EB
//#e051e0
//rgb(67, 159, 196)
//#E878EB PRINCIPAL
//CUARTO rgb(70, 151, 184)
//secundario #e45fe4
//SECUNDARIO #07888B