$color-principal:#E878EB;
$color-secundario:#e45fe4;
$color-tercero: white;
$color-cuarto: rgb(70, 151, 184);
$color-quinto: rgb(233, 227, 227);
$tipogrfia-uno: 'Roboto', sans-serif;
$tipografia-dos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$smartphone:480px;
$tablets:728px;
$desktop:1024;
//#E878EB
//#e051e0
//rgb(67, 159, 196)