@import "../utilities/mixins";

   .container{
      .pTexto{
         color: $color-principal;
      }
 }
   .produc{
     
      p{
         font-size: 1.2rem;
        
      }
     
} 

section{
   .container3{
      div.card{
         color: black;
      }
      p{
         display: flex;
         align-items: center;
         flex-direction: column
      }
   }
   
} 
